<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="./angular.min.js"></script>
<style>
input.ng-invalid {
    background-color: lightblue;
}
</style>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    名字： <input ng-model="name">
    <h1>你输入了: {{name}}</h1>

    <form name="myForm">
        Email:
        <input type="email" name="myAddress" ng-model="email" required/>
        <span ng-show="myForm.myAddress.$error.email">不是一个合法的邮箱地址</span>
        <h1>状态</h1>
        {{ myForm.myAddress.$valid }}
        {{ myForm.myAddress.$dirty }}
        {{ myForm.myAddress.$touched }}
    </form>
</div>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', ($scope) => {
    $scope.name = 'anna';
});
</script>

</body>
</html> 